/* styles.css */
:root {
  --epoch-line-color: #bbb;
  --epoch-text-color: #666;
  --epoch-text-color-hover: #222;
  --epoch-today-color: #e35336;
  --epoch-font-main: 14px system-ui, sans-serif;
  --epoch-font-small: 10px system-ui, sans-serif;
  --epoch-bg: white;
}
.epoch-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--epoch-bg);
}
.epoch-root {
  flex: 1;
  position: relative;
}
.epoch-root canvas {
  width: 100%;
  height: 100%;
  display: block;
}
/*# sourceMappingURL=data:application/json;base64,ewogICJ2ZXJzaW9uIjogMywKICAic291cmNlcyI6IFsic3R5bGVzLmNzcyJdLAogICJzb3VyY2VzQ29udGVudCI6IFsiOnJvb3Qge1xyXG4gIC0tZXBvY2gtbGluZS1jb2xvcjogI2JiYjtcclxuICAtLWVwb2NoLXRleHQtY29sb3I6ICM2NjY7XHJcbiAgLS1lcG9jaC10ZXh0LWNvbG9yLWhvdmVyOiAjMjIyO1xyXG4gIC0tZXBvY2gtdG9kYXktY29sb3I6ICNlMzUzMzY7XHJcbiAgLS1lcG9jaC1mb250LW1haW46IDE0cHggc3lzdGVtLXVpLCBzYW5zLXNlcmlmO1xyXG4gIC0tZXBvY2gtZm9udC1zbWFsbDogMTBweCBzeXN0ZW0tdWksIHNhbnMtc2VyaWY7XHJcbiAgLS1lcG9jaC1iZzogd2hpdGU7XHJcbn1cclxuXHJcbi5lcG9jaC1jb250YWluZXIge1xyXG4gIGRpc3BsYXk6IGZsZXg7XHJcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxuICBoZWlnaHQ6IDEwMCU7XHJcbiAgYmFja2dyb3VuZDogdmFyKC0tZXBvY2gtYmcpO1xyXG59XHJcblxyXG4uZXBvY2gtcm9vdCB7XHJcbiAgZmxleDogMTtcclxuICBwb3NpdGlvbjogcmVsYXRpdmU7XHJcbn1cclxuXHJcbi5lcG9jaC1yb290IGNhbnZhcyB7XHJcbiAgd2lkdGg6IDEwMCU7XHJcbiAgaGVpZ2h0OiAxMDAlO1xyXG4gIGRpc3BsYXk6IGJsb2NrO1xyXG59XHJcbiJdLAogICJtYXBwaW5ncyI6ICI7QUFBQTtBQUNFO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQUE7QUFHRjtBQUNFO0FBQ0E7QUFDQTtBQUNBO0FBQUE7QUFHRjtBQUNFO0FBQ0E7QUFBQTtBQUdGO0FBQ0U7QUFDQTtBQUNBO0FBQUE7IiwKICAibmFtZXMiOiBbXQp9Cg== */
