/* styles.css */
:root {
  --epoch-line-color: #bbb;
  --epoch-text-color: #666;
  --epoch-text-color-hover: #222;
  --epoch-related-color: #222;
  --epoch-today-color: #e35336;
  --epoch-font-main: 14px system-ui, sans-serif;
  --epoch-font-main-hover: 18px system-ui, sans-serif;
  --epoch-font-small: 10px system-ui, sans-serif;
  --epoch-font-small-hover: 18px system-ui, sans-serif;
  --epoch-bg: white;
}
.epoch-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--epoch-bg);
}
.epoch-root {
  flex: 1;
  position: relative;
}
.epoch-root canvas {
  width: 100%;
  height: 100%;
  display: block;
}
/*# sourceMappingURL=data:application/json;base64,ewogICJ2ZXJzaW9uIjogMywKICAic291cmNlcyI6IFsic3R5bGVzLmNzcyJdLAogICJzb3VyY2VzQ29udGVudCI6IFsiOnJvb3Qge1xyXG4gIC0tZXBvY2gtbGluZS1jb2xvcjogI2JiYjtcclxuICAtLWVwb2NoLXRleHQtY29sb3I6ICM2NjY7XHJcbiAgLS1lcG9jaC10ZXh0LWNvbG9yLWhvdmVyOiAjMjIyO1xyXG4gIC0tZXBvY2gtcmVsYXRlZC1jb2xvcjogIzIyMjtcclxuICAtLWVwb2NoLXRvZGF5LWNvbG9yOiAjZTM1MzM2O1xyXG4gIC0tZXBvY2gtZm9udC1tYWluOiAxNHB4IHN5c3RlbS11aSwgc2Fucy1zZXJpZjtcclxuICAtLWVwb2NoLWZvbnQtbWFpbi1ob3ZlcjogMThweCBzeXN0ZW0tdWksIHNhbnMtc2VyaWY7XHJcbiAgLS1lcG9jaC1mb250LXNtYWxsOiAxMHB4IHN5c3RlbS11aSwgc2Fucy1zZXJpZjtcclxuICAtLWVwb2NoLWZvbnQtc21hbGwtaG92ZXI6IDE4cHggc3lzdGVtLXVpLCBzYW5zLXNlcmlmO1xyXG4gIC0tZXBvY2gtYmc6IHdoaXRlO1xyXG59XHJcblxyXG4uZXBvY2gtY29udGFpbmVyIHtcclxuICBkaXNwbGF5OiBmbGV4O1xyXG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XHJcbiAgaGVpZ2h0OiAxMDAlO1xyXG4gIGJhY2tncm91bmQ6IHZhcigtLWVwb2NoLWJnKTtcclxufVxyXG5cclxuLmVwb2NoLXJvb3Qge1xyXG4gIGZsZXg6IDE7XHJcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG59XHJcblxyXG4uZXBvY2gtcm9vdCBjYW52YXMge1xyXG4gIHdpZHRoOiAxMDAlO1xyXG4gIGhlaWdodDogMTAwJTtcclxuICBkaXNwbGF5OiBibG9jaztcclxufVxyXG4iXSwKICAibWFwcGluZ3MiOiAiO0FBQUE7QUFDRTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUFBO0FBR0Y7QUFDRTtBQUNBO0FBQ0E7QUFDQTtBQUFBO0FBR0Y7QUFDRTtBQUNBO0FBQUE7QUFHRjtBQUNFO0FBQ0E7QUFDQTtBQUFBOyIsCiAgIm5hbWVzIjogW10KfQo= */
